//- The main book listing page.

extends ../layout

block content
    title= title
    h1 Take a look, it's in a book, A Reading Rainbow!
    p
    a.button(href='/books/new') Create New Book
    main#main-content
        if books.length > 0
            table
                thead
                    tr
                        th Title
                        th Author
                        th Genre
                        th Year
                tbody
                    each book in books
                        tr
                            td
                                a(href="/books/" + book.id)= book.title
                            td #{book.author}
                            td #{book.genre}
                            td #{book.year}